html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bowling-header{
    background-image: url(/images/bowling4.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    display: flex;

    position: relative;

}

.team-scroll {
    display: flex;
    overflow-x: auto; 
    gap: 1rem; 
    padding: 1rem;
}

    .team-scroll .card {
        flex: 0 0 auto;
        width: 250px; 
    }