

@*header here with background photo*@

<div class="bowling-header align-items-center justify-content-center d-flex">
	<h1 class="fw-bold">SAINT JOHN BOWLING ASSOCIATION</h1>
</div>

<div>
	<h3>Saint John's Bowling Association is hosting their 50th annual bowling tournament 
		this December!		
	</h3>

</div>

<div>
	<h4>Join our amazing group of teams and come on out and compete with us</h4>
</div>

<div>
	@*style link as a button to take us to Register Page*@
	<a href="Tournament/Register">Register Your Team</a>
</div>


@*Cards here to show off the registered teams?
	Only paid teams will appear
	Team Name, Division and Players will be visible
	Use the User View Model for this?
	Have another Vm for the register page?
*@
<div>

</div>