

@*use a view model here to only show what the user needs to import for the form?*@
@section SiteHeader {
	@Html.Partial("_SiteHeader")
}

<div class="m-5 text-center">
<h2>Register Your Team!</h2>
</div>