@using TermProject.ViewModels
@model TeamRegisterVm

<h2 class="mb-4">Manage Players</h2>

<div class="alert alert-secondary">
    Each team must have exactly 4 players.
</div>

<form asp-controller="User" asp-action="ManagePlayers" method="post">

    @* used hidden inputs to store required fields for model binding*@
    <input type="hidden" asp-for="TeamId" />
    <input type="hidden" asp-for="TeamName" />
    <input type="hidden" asp-for="DivisionId" />
    <input type="hidden" asp-for="RegistrationPaid" />
    <input type="hidden" asp-for="PaymentDate" />

    <div class="row">
        @for (int i = 0; i < 4; i++)
        {
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm">
                    <div class="card-header secondary text-dark">
                        Player# @(i + 1)
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label asp-for="Players[i].PlayerName" class="form-label">Name</label>
                            <input asp-for="Players[i].PlayerName" class="form-control"  />
                            <span asp-validation-for="Players[i].PlayerName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Players[i].City" class="form-label">City</label>
                            <input asp-for="Players[i].City" class="form-control"  />
                            <span asp-validation-for="Players[i].City" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Province</label>
                            <select asp-for="Players[i].Province" class="form-select">
                                <option value="AB">AB</option>
                                <option value="BC">BC</option>
                                <option value="MB">MB</option>
                                <option value="NB">NB</option>
                                <option value="NL">NL</option>
                                <option value="NS">NS</option>
                                <option value="NT">NT</option>
                                <option value="NU">NU</option>
                                <option value="ON">ON</option>
                                <option value="PE">PE</option>
                                <option value="QC">QC</option>
                                <option value="SK">SK</option>
                                <option value="YT">YT</option>
                            </select>
                            <span asp-validation-for="Players[i].Province" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Players[i].Email" class="form-label">Email</label>
                            <input asp-for="Players[i].Email" class="form-control"/>
                            <span asp-validation-for="Players[i].Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Players[i].Phone" class="form-label">Phone</label>
                            <input asp-for="Players[i].Phone" class="form-control"  />
                            <span asp-validation-for="Players[i].Phone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="text-center mt-4">
        <button type="submit" class="btn btn-secondary me-2">Save Players </button>
        <a asp-action="Index" asp-controller="User" class="btn btn-secondary me-2">Cancel</a>
    </div>
</form>
